<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="sg.edu.nus.iss.yunakti.actionSet">
         <menu
               label="Sample &amp;Menu"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Sample Action"
               icon="icons/sample.gif"
               class="sg.edu.nus.iss.yunakti.ui.actions.SampleAction"
               tooltip="Hello, Eclipse world"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="sg.edu.nus.iss.yunakti.ui.actions.SampleAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="sg.edu.nus.iss.yunakti.command.YunaktiCommand"
               label="Yunakti"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="sg.edu.nus.iss.yunakti.command.YunaktiCommand"
            id="sg.edu.nus.iss.yunakti.command.YunaktiCommand"
            name="YunaktiCommand">
      </command>
   </extension>

</plugin>
