<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="sg.edu.nus.iss.yunakti.actionSet">
         <menu
               label="Sample &amp;Menu"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="sg.edu.nus.iss.yunakti.ui.actions.SampleAction"
               icon="icons/sample.gif"
               id="sg.edu.nus.iss.yunakti.ui.actions.SampleAction"
               label="&amp;Sample Action"
               menubarPath="sampleMenu/sampleGroup"
               style="radio"
               toolbarPath="sampleGroup"
               tooltip="Hello, Eclipse world">
         </action>
      </actionSet>
      <actionSet
            id="Yunakti.SubuActionSet"
            label="SubuActionSet"
            visible="true">
         <menu
               id="Yunakti.SubuMenu"
               label="Subu">
            <separator
                  name="Yunakti.SubuGroup">
            </separator>
         </menu>
         <action
               class="sg.edu.nus.iss.yunakti.ui.actions.R2Action"
               id="sg.edu.nus.iss.yunakti.ui.actions.SubuActions"
               label="Open R2"
               menubarPath="Yunakti.SubuMenu/Yunakti.SubuGroup"
               style="push"
               toolbarPath="Yunakti.SubuGroup"
               tooltip="Subu">
         </action>
      </actionSet>
   </extension>

</plugin>
